<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<Property Name="LoggingDeveloperMode" Value="True"/>
	<License Value="SG2NQEAE8TS2YFXY64GWZKTNTX-ZQQQQQQQAUQL5"/>

	<Multicast xmlns:my="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">
		<my:Log AttributeExclude="true" AttributeTargetMembers="regex:get_*|set_*"/>
		<my:Log AttributeExclude="true" AttributeTargetElements="InstanceConstructor"/>
	</Multicast>

	<Logging xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics">
		<Profiles>
			<LoggingProfile Name="default" IncludeSourceLineInfo="False" IncludeExecutionTime="False" IncludeAwaitedTask="True">
				<DefaultOptions>
					<LoggingOptions IncludeReturnValue="False" Level="Info" IncludeParameterType="False"/>
				</DefaultOptions>
			</LoggingProfile>
		</Profiles>
	</Logging>
</Project>